.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table-row {
  color: red
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row {
  background-color: rgb(102, 163, 135);
}
.Login {
  padding: 10px solid black;
  /* text-align: left; */
  margin: 25px 50px 75px 100px;
  background: rgb(102, 163, 135);
  /* border: 2px solid black; */
  color: white;

}

.col-sm-8 {
  background-color: rgb(102, 163, 135);
}
.Login-main{
  max-width: 400px;

}

.Font-Color{
  color: white;
}

.navbar-light .navbar-nav .nav-link{
  color: #fff !important;
}

.navbar-light .navbar-brand {
  color: #fff !important;
}

.navbar .bg-dark {
  background-color: rgba(0,0,0,0.3) !important;
} 

.UserStyle{
  color: white;
}

.nav-item {
  display: flex;
  align-items: center;
}

.radio-buttons-row {
  margin: 0px 26px 16px 26px;
  display: flex;
  justify-content: center;
}
.button-row {
  display: flex;
  justify-content: center;
}

.Login-new {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 16px;
  background-color: rgba(0,0,0,.1);
}
h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Login{
  min-width: 90%;
  min-height: 65%;
  /* display: flex; */
  align-items: center;
  margin-left: 23px;
}

element.style {
  margin-left: 23px;
}

.style-link {
  color: white;
}

.style-right{
  float: right;
}

.style-left {
  float: left;
}
tr {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* color: #61dafb; */
}
label {
  font-weight: bolder;
}

.w-100 {
  max-height: 500px!important;
  max-width: 100%!important;
  margin: 0 auto;
}